REACT_APP_RELAYER_API_URL=http://localhost:3001
REACT_APP_API_GATEWAY_URL="api_gateway_url"
REACT_APP_IPFS_GATEWAY_URL="ipfs_gateway_url"
REACT_APP_GAME_ADDRESS="game_proxy_address"
REACT_APP_FORWARDER_ADDRESS="forwarder_address"
REACT_APP_TOKEN_ADDRESS="token_proxy_address"
REACT_APP_NFT_ADDRESS="nft_proxy_address"
REACT_APP_SHOP_ADDRESS="shop_proxy_address"
REACT_APP_REWARDS_ADDRESS="rewards_proxy_address"
REACT_APP_ACHIEVEMENTS_ADDRESS="achievements_proxy_address"
REACT_APP_CHALLENGES_ADDRESS="challenges_proxy_address"
REACT_APP_EXPEDITIONS_ADDRESS="expeditions_proxy_address"
REACT_APP_VERSION=0.0.1
REACT_APP_TURNSTILE_SITE_KEY=your_turnstile_site_key