VITE_RELAYER_API_URL=http://localhost:3001
VITE_API_GATEWAY_URL="api_gateway_url"
VITE_IPFS_GATEWAY_URL="ipfs_gateway_url"
VITE_GAME_ADDRESS="game_proxy_address"
VITE_FORWARDER_ADDRESS="forwarder_address"
VITE_TOKEN_ADDRESS="token_proxy_address"
VITE_NFT_ADDRESS="nft_proxy_address"
VITE_SHOP_ADDRESS="shop_proxy_address"
VITE_REWARDS_ADDRESS="rewards_proxy_address"
VITE_ACHIEVEMENTS_ADDRESS="achievements_proxy_address"
VITE_CHALLENGES_ADDRESS="challenges_proxy_address"
VITE_EXPEDITIONS_ADDRESS="expeditions_proxy_address"
VITE_VERSION=0.0.1
VITE_TURNSTILE_SITE_KEY=your_turnstile_site_key